<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VisualPRU</title>
    <link rel="stylesheet" href="static/css/foundation.min.css" />
    <link rel="stylesheet" href="static/css/foundation-icons.css" />
    <link rel="stylesheet" href="static/css/styles.css" />
    <script src="static/js/vendor/modernizr.js"></script>


    <script type="text/template" id="header-view-template">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">VisualPRU <span class="subtitle" style="display:none;">Your Friendly Neighborhood Debugger</span></a></h1>
        </li>
        <li class="divider"></li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider"></li>
          <li class="text"><a href='#'>PRU Select:</a></li>
          <% _.each(prus,function(pru){%>
            <li class="workspace <%=pru.id == activePRUID ? 'active': ''%>"><a href="#" data-pruid="<%=pru.id%>"><%=pru.id.toUpperCase()%></a><div><span class="label <%= pru.status == 'running' ? 'success' : 'alert'%>"><%=pru.status%></span><div></li>
          <% }) %>
        </ul>
      </section>
    </script>

    <script type="text/template" id="status-view-template">
      <%if(isConnected){%>
      <div class="pru-status" class="row full-width" style="display:none;">
        <div class="large-2 medium-2 large-offset-10 columns">
          <ul class="no-bullet">
            <li>PRU0: <span class="label success">Running</span></li>
            <li>PRU1:<span class="label alert">Halted</span></li>
          </ul>
        </div>
      </div>
      <div class="row full-width">
        <div class="large-8 medium-8 large-centered medium-centered columns">
          <div data-alert class="alert-box success radius">
            Connected to the BeagleBone Black! You can now start building and debugging PRU Applications.
            <a href="#" class="close">&times;</a>
          </div>
        </div>
      </div>
      <%}else{%>
      <div class="row full-width">
        <div class="large-8 medium-8 large-centered medium-centered columns">
          <div data-alert class="alert-box alert radius">
            Not connected to the BeagleBone Black... Make sure the app is running on the board and reload the page.
            <a href="#" class="close">&times;</a>
          </div>
        </div>
      </div>
      <%}%>
    </script>

    <script type="text/template" id="pru-view-template">
      <div class="row full-width" style="margin-top:2em;">
          <div id="editor-view" class="large-6 medium-6 columns"></div>
          <div id="compiler-view" class="large-4 medium-4 columns"></div>
          <div id="memory-view" class="large-2 medium-2 columns"></div>
      </div>
    </script>

    <script type="text/template" id="editor-view-template">
      <div class="icon-bar one-up">
        <a class="item new-program" style="display:none;">
          <i class="fi-folder"></i>
          <label>New Program</label>
        </a>
        <a href="#" class="item add-file-trigger">
          <i class="fi-page"></i>
          <label>Add a File</label>
        </a>
        <a class="item delete-current-file-trigger" style="<%=sourceFiles.length==0 ? 'display:none;' : ''%>">
          <i class="fi-trash"></i>
          <label>Delete Current File</label>
        </a>
        <a class="item compile" style="<%=sourceFiles.length==0 ? 'display:none;' : ''%>">
          <i class="fi-archive"></i>
          <label>Save & Compile</label>
        </a>
      </div>
      <ul class="tabs vertical">
      <%_.each(sourceFiles,function(sourceFile){%>
        <li class="tab-title <%=activeSourceFile.name == sourceFile.name? 'active' : ''%>"><a href="#" data-filename="<%=sourceFile.name%>"><%=sourceFile.name%></a></li>
      <%})%>
      </ul>
      <div class="tabs-content vertical">
        <%if(activeSourceFile != null){%>
        <div class="content active" style="padding:0;" data-filename="<%=activeSourceFile%>">
          <div class="row collapse">
            <div class="large-1 medium-1 columns">
              <div class="line-nums"></div>
            </div>
            <div class="large-11 medium-11 columns">
              <textarea wrap="off" spellcheck="false" placeholder="Enter your PRU program here." <%=pruStatus == 'running' ? 'disabled' : '' %>><%=activeSourceFile.content%></textarea>
            </div>
          </div>
        </div>
        <%}%>
      </div>

      <div id="add-file-modal" class="reveal-modal tiny" data-reveal>
        <h3>Add a Source File<a class="close-reveal-modal">&#215;</a></h3>
        <form>
          <div class="row">
            <div class="small-12 columns">
              <div class="row collapse">
                <div class="small-10 columns">
                  <input type="text" name="name" placeholder="Enter filename...">
                </div>
                <div class="small-2 columns">
                  <select name="suffix">
                    <option value=".p">.p</option>
                    <option value=".hp">.hp</option>
                  </select>
                </div>
              </div>
                <%if(sourceFiles.length == 0){%>
                <div class="row">
                  <div class="small-12 small-centered columns">
                    <p><em>This will be the main source file.</em> It must contain the <span class="code-snippet">.origin 0</span> command or include a file which contains this command. It should also contain the <span class="code-snippet">halt</span> command to indicate the end of the program.</p>
                  </div>
                </div>
                <%}%>
            </div>
          </div>
          <div class="row">
            <div class="small-4 small-centered columns" style="text-align:center;">
              <a href="#" class="submit success button add-file">Add</a>
            </div>
          </div>
        </form>

      </div>

      <div id="delete-current-file-modal" class="reveal-modal tiny" data-reveal>
        <h3>Delete the Current File?<a class="close-reveal-modal">&#215;</a></h3>
        <form>
          <div class="row collapse">
            <div class="small-3 small-offset-3 columns" style="text-align:center;">
              <a href="#" class="alert button delete-current-file">Delete</a>
            </div>
            <div class="small-3 columns end" style="text-align:center;">
              <a href="#" class="submit secondary button cancel-delete-current-file">Cancel</a>
            </div>
          </div>
        </form>

      </div>

    </script>

    <script type="text/template" id="compiler-view-template">
        <div class="icon-bar three-up">
            <% if(hasCompiledFile){ %>
            <a class="item reset">
                <i class="fi-loop"></i>
                <label>Reset</label>
            </a>

            <% if(pruStatus == 'halted'){ %>
            <a class="item run">
                <i class="fi-play"></i>
                <label>Run</label>
            </a>
            <%}else if(pruStatus=='running'){%>
            <a class="item halt">
                <i class="fi-stop"></i>
                <label>Halt</label>
            </a>
            <%}%>
            <a class="item step">
                <i class="fi-arrow-right"></i>
                <label>Step</label>
            </a>
            <%}else{%>
              <!--We need this so that the icon bar does not collapse to 0 height with no icons present-->
            <a class="item reset" style="visibility:hidden;">
                <i class="fi-heart"></i>
                <label>Heart</label>
            </a>
            <%}%>
        </div>
          <% if(status=='empty'){ %>
            <table class="code">
              <tbody>
                <tr>
                  <td class="empty">
                    <code>
                    Compilation output will display here.
                    </code>
                  </td>
                </tr>
              </tbody>
            </table>
          <%}else if(status=='error'){%>
            <table class="code error">
              <tbody>
                <tr>
                  <td class="lines">
                    <code>
                    <%_.each(lines,function(line,i){%>
                      <div class="line">
                        <%=line.filename%>[<%=line.lineno%>]: "<%=line.text%>"
                      </div>
                    <%});%>
                    </code>
                  </td>
                </tr>
              </tbody>
            </table>
          <%}else if(status=='success'){%>
            <table class="code success">
              <tbody>
                <tr>
                  <td class="line-nums">
                  <%_.each(lines,function(line,i){%>
                    <div class="line-num <%=((programCounter == line.programCounter) && (pruStatus != 'running')) ? 'current' : ''%>">
                      <%=i%>
                    </div>
                  <%});%>
                  </td>
                  <td class="lines">
                    <code>
                    <%_.each(lines,function(line,i){%>
                      <div class="line <%=((programCounter == line.programCounter) && (pruStatus != 'running')) ? 'current' : ''%>">
                        <pre><%=line.text%></pre>
                      </div>
                    <%});%>
                    </code>
                  </td>
                </tr>
              </tbody>
            </table>
          <%}%>
    </script>

    <script type="text/template" id="memory-view-template">
      <div class="icon-bar one-up" style="display:none;">
        <a class="item settings">
            <i class="fi-wrench"></i>
            <label>Settings</label>
        </a>
      </div>
      <div class="row">
          <div class="large-12 columns">
              <select class="memory-select">
                  <option value="generalpurpose">General Purpose</option>
              </select>
          </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <div class="table-wrapper">
            <table>
              <thead>
                <tr>
                  <th>Register</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <%_.each(memory.generalPurpose,function(register){%>
                  <tr>
                    <td><%=register.name%></td>
                    <td><%='0x'+('00000000'+register.value.toString(16).toUpperCase()).slice(-8)%></td>
                  </tr>
                <%})%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </script>

  </head>
  <body>

    <nav id="header-view" class="top-bar" data-topbar>

    </nav>

    <div id="content">
      <div id="status-view"></div>
      <div id="pru-view"></div>
    </div>

    <script src="static/js/vendor/jquery.js"></script>
    <script src="static/js/vendor/underscore-min.js"></script>
    <script src="static/js/vendor/backbone-min.js"></script>
    <script src="static/js/foundation.min.js"></script>

    <script src="static/js/vendor/behave.js"></script>

    <script src="static/js/visualpru.js"></script>

  </body>
</html>
